	
<div class="ui fixed menu">
  <a class="item" id="side_bar_list"><i class="content icon" ></i></a>  
  <div class="right menu">
    <div class="ui dropdown item">	
		<i  id="alertit" class="alarm icon"></i>
		<a href="/users/get_stock_list?toggle=true" id="warning_icon" style="display:none"><i  class= "red warning icon"></i></a>
		
		<div id="notifyit" class="massive menu">
			
		</div>
	</div>
	<a class="item"><i class="user icon"></i><%= data %> </a>
    <a class="item" href="/logout"><i class="power icon"></i>Logout</a>
  </div>
</div>

<div class="ui left demo vertical inverted sidebar labeled icon menu">
  <a class="item" href="/">
    <i class="home icon"></i>
    About
  </a>
  <a class="item" href="/users/get_stock">
    <i class="block layout icon"></i>
    Stock
  </a>
  <a class="item" href="/trade/get_trade">
    <i class="smile icon"></i>
    Trade
  </a>
   <a class="item">
    <i class="smile icon"></i>
    ADD
  </a>
</div>
