<!DOCTYPE html>
<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel = "stylesheet" type = "text/css" href = "/stylesheets/main_page.css"/>
<script src="/javascripts/main_page.js"></script>
	
</head>
<body>


<div id="mySidenav" class="sidenav">
  <ul>
      
      <li><a href="javascript:void(0)" class="closebtn toggle-nav" >&times;</a>
      
      </li>
      <li><span class="Brand_Name">Name</span>
      </li>
      <li><a href="#">About</a></li>
      <li><a href="#">Stock</a></li>
      <li><a href="#">Clients</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Cossct</a></li>
      <li><a href="/logout">Logout</a></li>
</div>

	<div class="main_wrapper">

	<div id="header" class="_header">
		  <ul>
			<li><span style="font-size:30px;cursor:pointer" class="toggle-nav">&#9776;</span>
			</li>
			<li><a>Alert</a></li>
			<li><a>Robin Brons</a></li>
		  </ul>

	</div>
		
		
		<div id="main">
			<ul>
			      <li><a href="/users/get_stock_insert">Insert</a></li>
      			  <li><a href="/users/get_stock_search">Search</a></li>
			</ul>
			
			
		</div>



</div>

     
</body>
</html> 

