<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="/semUI_out/semantic.min.css">
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/index.css"/> 
	<script src="/jquery/jquery.min.js"></script>
	<script src="/semUI_out/semantic.min.js"></script>
	<script src="/javascripts/main_page.js"></script> 
	
</head>
<body>

<% var data=id ;%>
<% include side_top_bar%>
	
<div id="main" class="ui grid" >
		
		<div class="ui four wide column"></div>
		<div class="ui four wide column">
			
			<a href="/users/get_stock_insert"><i class="external share icon huge"></i>Insert</a></div>
		<div class="ui four wide column">
			<a href="/users/get_stock_list"><i class="list icon huge"></i>
			Search</a></div>
		<div class="ui four wide column"></div>
		
</div>

<script>
	var warn_list= <%- JSON.stringify(results) %>

</script>
     <script src="/javascripts/warning_list.js"></script> 
     
</body>
</html> 

