<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="/semUI_out/semantic.min.css">
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/index.css"/> 
	<script src="/jquery/jquery.min.js"></script>
	<script src="/semUI_out/semantic.min.js"></script>
	<script src="/javascripts/main_page.js"></script> 
	
</head>
<body>


<div class="ui fixed menu">
  <a class="item" id="side_bar_list"><i class="content icon" ></i></a>  
  <div class="right menu">
    <a class="item"><i class="user icon"></i>User</a>
    <a class="item" href="/logout"><i class="power icon"></i>Logout</a>
  </div>
</div>

<div class="ui left demo vertical inverted sidebar labeled icon menu">
  <a class="item" href="/">
    <i class="home icon"></i>
    About
  </a>
  <a class="item" href="/users/get_stock">
    <i class="block layout icon"></i>
    Stock
  </a>
  <a class="item" href="/trade/get_trade">
    <i class="smile icon"></i>
    Trade
  </a>
   <a class="item">
    <i class="smile icon"></i>
    ADD
  </a>
</div>



<div id="main" class="ui grid" >
		
		<div class="ui four wide column"></div>
		<div class="ui four wide column">
			
			<a href="/trade/sell"><i class="external share icon huge"></i>Sell</a></div>
		<div class="ui four wide column">
			<a href="/trade/get_trade"><i class="list icon huge"></i>
			trade_lists</a></div>
		<div class="ui four wide column"></div>
		
</div>

     
</body>
</html> 

