<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" href="/semUI_out/semantic.min.css">
	<link rel = "stylesheet" type = "text/css" href = "/stylesheets/index.css"/> 
	<script src="/jquery/jquery.min.js"></script>
	<script src="/semUI_out/semantic.min.js"></script>
	<script src="/javascripts/main_page.js"></script> 
	<script src="/socket.io/socket.io.js"></script> 
	<script src="/javascripts/notify.js"></script> 
	
</head>
<body>

<% var data=id ;%>
<% include side_top_bar%>


<div id="main" style="margin-top:50px;">
	<div class="ui grid">
			<div class="ui four wide column"></div>
			<div class="ui four wide column">
					<div class="ui buttons">
						<button class="ui button "><i class="external share icon huge"></i></button>
						<button class="ui button "><i class="list icon huge"></i></button>
						<button class="ui button "><i class="list icon huge"></i></button>

					</div>

				</div>
			<div class="ui four wide column"></div>
			<div class="ui four wide column"></div>
	</div>
	
	
	
</div>

 		<script>
			
			$(document).ready(function() 
			    { 
				$("#main_table").tablesorter(); 
			    } 
			); 
    


		</script>
     
</body>
</html> 

